* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  background: #eee;
}
 .card {
   display: flex;
   flex-direction: column;
   max-width: 470px;
   max-height: 300px;
   background: #fff;
   border: 2px solid #aaa;
   border-radius: 5px;
   word-break: break-word;
   margin-bottom: 0.625em;
   padding: 10px;
 }

 .card__headline {
   font-size: 22px;
   line-height: 22px;
   font-weight: bold;
   flex: 1;
   padding-bottom: 22px;
 }

 .card__main {
   display: flex;
   flex: 12;
   line-height: 22px;
}



 .card__image{
   width: 150px;
   height: auto;
   margin-left: 16px;
 }



.card__text {
  overflow: scroll;
}

.card__foot {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  list-style-type: none;
  padding-top: 8px;
}

.card__tags {margin-right: 16px;}